@import "variables";

@media (any-hover: hover) {
  .btn:hover {
    background: $secondaryColor;
  }
  .btn.primary-btn:hover {
    background: $mainColor;
  }
}

* {
  margin:          0;
  padding:         0;
  box-sizing:      border-box;
  color:           #003250;
  transition:      all .3s ease;
  scroll-behavior: smooth;
  outline:         none;
  font-family:     "Gilroy", sans-serif;
}

body {
  background: #f2f4f6;
}

a {
  color:           $mainColor;
  font-weight:     700;
  text-decoration: none;
}

input {
  align-self:    flex-end;
  margin-bottom: 10px;
  border:        1px solid #bdc0c7;
  border-radius: 2px;
  padding:       12px;
  &:focus {
    border:     1px solid $mainColor;
    box-shadow: 0 0 2px 1px $mainColor;
  }
}

label {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  cursor:         pointer;
}

form {
  width:   100%;
  padding: 30px 15px;
}

h1 {
  font-size:   34px;
  line-height: 1.94;
}

h2 {
  font-size:      24px;
  line-height:    1.5;
  padding-bottom: 15px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  margin:    0 0 20px 10px;
}

h5 {
  font-size:      16px;
  padding-bottom: 10px;
  font-weight:    400;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

img {
  width: 100%;
}

.wrapper {
  padding-top: 80px;
}

.title {
  margin-bottom: 25px;
  text-align:    center;
  &-image {
    width:  30px;
    height: 30px;
    margin: 0 auto 5px;
  }
}

.btn {
  padding:        0 35px;
  background:     $mainColor;
  color:          #fff;
  min-width:      172px;
  text-transform: uppercase;
  border:         none;
  border-radius:  32px;
  box-shadow:     0 3px 6px 0 rgba(0, 0, 0, .16);
  font-size:      16px;
  font-weight:    bold;
  line-height:    3;
  cursor:         pointer;
  &:focus {
    outline: none;
  }
  &:active {
    opacity: .7;
  }
  &.primary-btn {
    background: $secondaryColor;
  }
}

#continuer {
  display: none;
}

// CF7
.wpcf7 {
  width: 100%;
  .wpcf7-form-control-wrap {
    width: 100%;
    *:after, *:before {
      display: none;
    }
    &:after, &:before {
      display: none;
    }
  }
  .wpcf7-list-item-label {
    font-size: 0;
    position: static !important;
  }
  #step-24 {
    .step-twenty-two-buttons {
      .step-24 {
        padding: 0;
        width: 0;
      }
      span:before {
        left: -23px;
      }
    }
  }
  .screen-reader-response {
    p {
      text-align: center;
      color: green;
      font-weight: 700;
    }
  }
  .wpcf7-response-output {
    display: none;
  }
  .submission_id{
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    max-width: 105px;
    font-size: 34px;
    line-height: 1.94;
    padding: 0;
    margin: 0;
  }
}


@media screen and (max-width: 992px) {
  .title {
    margin-bottom: 5px;
  }
  h2 {
    font-size:      20px;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size:   24px;
    line-height: 1.7;
  }
}

@media screen and (max-width: 567px) {
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  .btn {
    font-size: 14px;
    min-width: 0;
  }
}