@media (any-hover: hover) {
    .btn:hover {
        box-shadow: 0 10px 12px 0 rgba(0,0,0,.25);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #003250;
    transition: all .3s ease;
    scroll-behavior: smooth;
    outline: none;
    font-family: "Gilroy", sans-serif;
}

//html, body, main, .parcours {
//    height: 100%;
//}

body {
    background: #f2f4f6;
}
a {
    color: #00a8a5;
    font-weight: 700;
    text-decoration: none;
}
input {
    align-self: flex-end;
    margin-bottom: 10px;
    border: 1px solid #bdc0c7;
    border-radius: 2px;
    padding: 12px;
    &:focus {
        border: 1px solid #00a8a5;
        box-shadow: 0 0 2px 1px #00a8a5;
    }
}
label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
form {
    width: 100%;
    padding: 30px 15px;
}
h1 {
    font-size: 34px;
    line-height: 1.94;
}
h2 {
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 15px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
    margin: 0 0 20px 10px;
}
h5 {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 400;
}
h1, h2, h3, h4 {
    font-weight: bold;
}
.title {
    margin-bottom: 25px;
    text-align: center;
    &-image {
        width: 30px;
        height: 30px;
        margin: 0 auto 5px;
    }
}
.btn {
    padding:        0 35px;
    background:     linear-gradient(86deg, #00a8a5 23%, #4dd8a6 75%, #74f0a7 110%);
    color:          #fff;
    min-width: 172px;
    text-transform: uppercase;
    border:         none;
    border-radius:  32px;
    box-shadow:     0 3px 6px 0 rgba(0, 0, 0, .16);
    font-size:      16px;
    font-weight: bold;
    line-height: 3;
    cursor:         pointer;
    &:focus {
        outline: none;
    }
    &:active {
        opacity: .7;
    }
}

@media screen and (max-width: 992px) {
    .title {
        margin-bottom: 5px;
    }
    h2 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    h3 {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
        line-height: 1.7;
    }
}
@media screen and (max-width: 567px) {
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    .btn {
        font-size: 14px;
        min-width: 0;
    }
}