@media (any-hover: hover) {
  .form-progress .return:hover {
    text-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  }
  .answer:hover {
    border: 1px solid #00a8a5;
  }
}

.parcours {
  display: flex;
  &-sidebar {
    max-width:  280px;
    width:      100%;
    padding:    20px;
    background: #fff;
    position:   fixed;
    height:     100vh;
    .sidebar-title {
      position:       relative;
      margin-bottom:  80px;
      padding-bottom: 10px;
      h4 {
        margin-bottom: 10px;
        font-size:     16px;
        line-height:   1.7;
      }
      &::after {
        content:       "";
        width:         48px;
        height:        4px;
        position:      absolute;
        bottom:        0;
        left:          0;
        background:    #003250;
        border-radius: 2px;
      }
    }
    .sidebar-status {
      .status-item {
        position:    relative;
        padding:     0 0 20px 20px;
        border-left: 1px solid #f0f0f0;
        color:       #f0f0f0;
        &:last-child {
          padding: 0 0 0 20px;
        }
        &::before {
          content:       "";
          width:         11px;
          height:        11px;
          position:      absolute;
          top:           0;
          left:          0;
          background:    #f0f0f0;
          border:        1px solid transparent;
          border-radius: 50%;
          transform:     translate(-50%, 0);
        }
        &.active {
          border-left: 1px solid #00a8a5;
          color:       #003250;
          &::before {
            background: #00a8a5;
          }
        }
        &.first-step {
          color: #003250;
          &::before {
            border:     3px solid #00a8a5;
            background: #fff;
            width:      7px;
            height:     7px;
          }
        }
      }
    }
  }
}

.parcours-form {
  width:           100%;
  padding:         40px 0 60px;
  margin-left:     280px;
  display:         flex;
  justify-content: center;
  align-items:     center;
  .form-progress {
    position:    fixed;
    left:        280px;
    top:         80px;
    right:       0;
    display:     flex;
    align-items: center;
    padding:     25px 20px 10px;
    background:  #f2f4f6;
    z-index:     5;
    .return {
      position:     absolute;
      top:          15px;
      left:         20px;
      color:        #00a8a5;
      font-size:    14px;
      font-weight:  500;
      display:      flex;
      align-items:  center;
      margin-right: 10px;
      img {
        width:        12px;
        height:       12px;
        margin-right: 8px;
      }
    }
    .progress-line {
      max-width:  660px;
      width:      100%;
      margin:     0 auto;
      height:     2px;
      background: #fff;
      position: relative;
      span {
        position: absolute;
        top: 0;
        left: 0;
        background:     linear-gradient(86deg, #00a8a5 23%, #4dd8a6 75%, #74f0a7 110%);
        height: 2px;
      }
    }
  }
  .question {
    flex-direction: column;
    display:        none !important;
    .answers {
      display:         flex;
      justify-content: space-between;
      margin:          0 auto;
      max-width:       440px;
      width:           100%;
      .answer {
        width:         47.73%;
        background:    #fff;
        border-radius: 8px;
        padding:       40px 10px 25px;
        border:        1px solid transparent;
        cursor:        pointer;
        position:      relative;
        &:active, &:focus {
          border: 1px solid #00a8a5;
        }
        img {
          width:  120px;
          height: 120px;
          margin: 0 auto 25px;
        }
        p {
          text-align: center;
          font-size:  16px;
        }
        input {
          display: none;
          &:checked + span {
            &:after {
              display: none;
            }
            &:before {
              display: block;
            }
          }
        }
        span {
          &:after, &:before {
            content:       "";
            position:      absolute;
            top:           6px;
            right:         6px;
            border-radius: 50%;
            width:         24px;
            height:        24px;
          }
          &:after {
            border:  1px solid #f4f4f4;
            display: block;
          }
          &:before {
            background-image: url("../images/check.svg");
            border:           none;
            width:            26px;
            height:           26px;
            display:          none;
          }
        }
      }
    }
    &.step-two {
      max-width: 800px;
      margin:    0 auto;
      .title {
        background:    #153250;
        border-radius: 8px 8px 0 0;
        padding:       25px 15px;
        position:      relative;
        margin-bottom: 0;
        h2, h5, h1 {
          color: #fff;
        }
        h2 {
          padding-bottom: 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:after {
          content:        "";
          position:       absolute;
          bottom:         -18px;
          left:           50%;
          display:        inline-block;
          width:          0;
          height:         0;
          border-top:     18px solid #153250;
          border-left:    16px solid transparent;
          border-right:   16px solid transparent;
          cursor:         pointer;
          pointer-events: none;
          transform:      translate(-50%, 0);
        }
      }
      .help {
        box-shadow:    0 10px 20px 0 rgba(0, 0, 0, .05);
        border-radius: 8px;
        background:    #fff;
        overflow:      hidden;
        margin-bottom: 11.3%;
        &-inner {
          display:         flex;
          justify-content: space-between;
          align-items:     flex-start;
          padding:         40px 20px 30px 0;
          .help-image {
            margin-left: -12.5%;
            padding-top: 20px;
          }
          .help-description {
            display:         flex;
            flex-direction:  column;
            justify-content: center;
            width:           48.21%;
            h2 {
              line-height:   1.25;
              margin-bottom: 20px;
            }
            p {
              line-height:   1.625;
              margin-bottom: 40px;
              &:last-child {
                margin-bottom: 0;
                text-align:    center;
              }
            }
          }
        }
        .btn {
          margin:  0 auto 10px;
          padding: 0 27px;
        }
      }
      .reviews {
        h2 {
          padding:       0;
          text-align:    center;
          margin-bottom: 25px;
        }
        &-inner {
          display:         flex;
          justify-content: space-between;
          .reviews-item {
            padding:       12px;
            width:         32.1%;
            background:    #fff;
            border-radius: 8px;
            box-shadow:    0 10px 20px 0 rgba(0, 0, 0, .05);
            .item-rating {
              display:         flex;
              justify-content: space-between;
              margin-bottom:   10px;
              .rating-icons {
                display: flex;
                img {
                  margin-right: 5px;
                }
              }
              span {
                font-size: 14px;
                color:     #a3a5ad;
              }
            }
            h3, p {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    &.step-three {
      .answers {
        max-width: 660px;
      }
      label {
        align-items: flex-start;
        font-size:   14px;
        color:       #888;
        width:       100%;
      }
      input {
        margin-top: 5px;
        width:      100%;
      }
    }
    &.step-four {
      .answers {
        max-width:     710px;
        flex-wrap:     wrap;
        margin-bottom: 70px;
        &:last-child {
          margin-bottom: 0;
        }
        .answer {
          width:         31.3%;
          margin-bottom: 20px;
          padding:       40px 10px 20px;
          border-radius: 4px;
          img {
            width:  50px;
            height: 50px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
    &.step-five {
      .answers {
        .answer {
          padding: 40px 10px 10px;
          p {
            line-height: 1.4;
          }
          img {
            margin-bottom: 15px;
          }
        }
      }
    }
    &.step-seven {
      .answers {
        max-width: 860px;
        .answer {
          width: 23.3%;
        }
      }
    }
    &.step-eight {
      .answers {
        display:        flex;
        flex-direction: column;
        max-width:      730px;
        margin-bottom:  20px;
        &:last-child {
          margin-bottom: 0;
        }
        h3 {
          text-align: left;
          margin:     0 0 20px 10px;
          font-size:  18px;
        }
        .answers-inner {
          display:   flex;
          flex-wrap: wrap;
        }
        .answer {
          width:         30.5%;
          margin:        0 10px 20px;
          padding:       33px 10px 20px 10px;
          border-radius: 4px;
          img {
            width:  50px;
            height: 50px;
          }
        }
      }
    }
    &.step-ten {
      .answers {
        max-width: 660px;
        .answer {
          width: 31.22%;
        }
      }
    }
    &.step-twelve {
      .answers {
        max-width: 240px;
        align-items: center;
        img {
          width:  30px;
          height: 30px;
        }
      }
      input {
        width: 170px;
        margin: 0 1rem;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 12px;
      }
      button {
        min-width: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #00a8a5;
        color: #00a8a5;
        display: flex;
        font-size: 50px;
        font-weight: 400;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: relative;
        cursor: pointer;
        &:after, &:before {
          content: "";
          position: absolute;
          background: #00a8a5;
        }
        &:after {
          top: 50%;
          left: 4px;
          width: 18px;
          height: 2px;
          transform: translate(0, -50%);
        }
        &.plus:before {
          top: 4px;
          left: 50%;
          transform: translate(-50%, 0);
          width: 2px;
          height: 18px;
        }
      }
    }
    &.step-seventeen {
      .answers {
        flex-direction: column;
      }
      label {
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      input {
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &.step-twenty-two {
      .answers {
        max-width:      710px;
        flex-direction: column;
        .step-twenty-two-buttons {
          display:       flex;
          align-items:   center;
          margin-bottom: 20px;
          label {
            width:          104px;
            flex-direction: row;
            align-items:    center;
            padding-right:  20px;
            &:active {
              color: #00a8a5;
            }
          }
          input {
            display: none;
            margin-right: 10px;
            &:focus {
              border:     none;
              box-shadow: none;
            }
            &:checked + span {
              color: #00a8a5;
              &:after {
                border: 1px solid #00a8a5;
                box-shadow: 0 3px 7px 1px rgba(42,42,42,.1);
              }
              &:before {
                display: block;
              }
            }
          }
          span {
            font-weight: 500;
            padding-left: 26px;
            position: relative;
            color: #888;
            &:after, &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 50%;
              background: #fff;
            }
            &:after {
              width: 14px;
              height: 14px;
              border: 1px solid #bdc0c7;
            }
            &:before {
              background: #00a8a5;
              width: 10px;
              height: 10px;
              z-index: 3;
              top: 3px;
              left: 3px;
              display: none;
            }
          }
        }
        .entry-fields {
          display:         flex;
          justify-content: space-between;
          label {
            width: 340px;
          }
          input {
            margin-top: 5px;
          }
        }
      }
    }
    &.step-twenty-four {
      .answers {
        flex-direction: column;
      }
      label {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 35px;
        }
      }
      p {
        font-size:   12px;
        text-align:  justify;
        line-height: 1.5;
      }
    }
    &.step-twenty-five {
      .confirm {
        text-align:    center;
        background:    #fff;
        border-radius: 8px;
        margin-bottom: 11.3%;
        .title {
          span {
            font-size:   50px;
            line-height: 1.32;
            color:       #74ffa7;
          }
        }
        &-inner {
          padding: 40px 25px 25px 25px;
          h3 {
            margin-bottom: 40px;
          }
        }
        .confirm-btn {
          background:    #f2f4f6;
          padding:       25px;
          border-radius: 8px;
          .btn {
            padding: 0 16px;
          }
        }
      }
      .reviews {
        margin-bottom: 30px;
      }
      .description {
        margin:    0 auto;
        max-width: 680px;
        p {
          padding:     25px 20px;
          font-size:   12px;
          line-height: 1.5;
          color:       #888;
          text-align:  justify;
        }
        a {
          color:           #888;
          text-decoration: underline;
          font-weight:     400;
        }
      }
    }
  }
  .continue {
    position:        fixed;
    left:            280px;
    bottom:          0;
    right:           0;
    background:      #f2f4f6;
    &-inner {
      display:         flex;
      justify-content: flex-end;
      align-items:     center;
      max-width:       860px;
      margin:          0 auto;
      padding:         6px 12px;
      p {
        font-size:    16px;
        margin-right: 35px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .parcours {
    &-form {
      .form-progress {
        .progress-line {
          max-width: 500px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .parcours {
    &-sidebar {
      display: none;
    }
    &-form {
      margin: 0;
      .form-progress {
        left: 0;
      }
      .continue {
        left: 0;
        &-inner {
          p {
            display: none;
          }
        }
      }
      .question {
        .answers {
          .answer {
            padding: 30px 10px 23px;
            img {
              width:         98px;
              height:        98px;
              margin-bottom: 25px;
            }
          }
        }
        &.step-two {
          .help {
            &-inner {
              .help-description {
                h2 {
                  margin-bottom: 10px;
                }
              }
            }
          }
          .reviews {
            &-inner {
              flex-direction: column;
              .reviews-item {
                width:         100%;
                margin-bottom: 20px;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        &.step-twenty-two {
          .answers {
            .entry-fields {
              flex-direction: column;
              label {
                width: 100%;
              }
            }
          }
        }
        &.step-twenty-five {
          .confirm {
            &-inner {
              padding: 40px 15px 25px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .parcours {
    &-form {
      .form-progress {
        padding: 32px 20px 10px;
        .return {
          top: 8px;
        }
      }
      .question {
        &.step-two {
          .help {
            &-inner {
              padding: 40px 20px 30px 20px;
              .help-image {
                display: none;
              }
              .help-description {
                width: 100%;
                p {
                  margin-bottom: 30px;
                }
              }
            }
          }
        }
        &.step-seven, &.step-eleven, &.step-fourteen, &.step-sixteen {
          .answers {
            flex-direction: column;
            .answer {
              width:         100%;
              padding:       10px;
              border-radius: 8px;
              margin-bottom: 10px;
              p {
                text-align: left;
              }
              label {
                flex-direction: row;
                img {
                  width:  45px;
                  height: 50px;
                  margin: 0 15px 0 0;
                }
                span {
                  &:after, &:before {
                    top:       50%;
                    transform: translate(0, -50%);
                  }
                }
              }
            }
          }
        }
        &.step-twenty-five {
          .confirm {
            .title {
              span {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .parcours {
    &-form {
      .question {
        .answers {
          .answer {
            img {
              margin-bottom: 15px;
            }
            p {
              font-size: 14px;
            }
          }
        }
        &.step-two, &.step-twenty-five {
          .help, .confirm {
            overflow:      visible;
            border-radius: 0;
            margin:        0 -15px 11.3%;
            .help-inner {
              padding: 40px 20px 20px;
              .help-description {
                p {
                  line-height: 1.5;
                }
              }
            }
          }
          .title {
            border-radius: 0;
          }
        }
        &.step-twenty-five {
          .reviews {
            h2 {
              font-size: 20px;
            }
          }
        }
        &.step-four, &.step-five, &.step-ten, &.step-twenty-one {
          .answers {
            flex-direction: column;
            .answer {
              width:         100%;
              padding:       10px;
              border-radius: 8px;
              margin-bottom: 10px;
              p {
                text-align: left;
              }
              label {
                flex-direction: row;
                img {
                  width:  45px;
                  height: 50px;
                  margin: 0 15px 0 0;
                }
                span {
                  &:after, &:before {
                    top:       50%;
                    transform: translate(0, -50%);
                  }
                }
              }
            }
          }
        }
        &.step-twelve {
          .answers {
            max-width: 260px;
          }
        }
      }
    }
  }
}
